<style>
    {#asset ./assets/css/style.css @encoding=utf8}
</style>
{{#eachHeader headerconfig headerdata}}
<div class="form-header">
    <table>
        <tr>
            <td>
                9. Code/Specification:
                <div>{{testspec.[0].data}}</div>
            </td>
            <td>
                10. NDT/Procedure:
                <div>{{testspec.[1].data}}</div>
            </td>
            <td>
                11. Acceptance Criteria:
                <div>{{testspec.[2].data}}</div>
            </td>
        </tr>
    </table>
    <table class="none-bordertop">
        <tr>
            <td>
                12. Mag.Equipment Mfr.&Model:
                <div>{{testspec.[3].data}}</div>
            </td>
            <td>
                13. Equipment S/N:
                <div>{{testspec.[4].data}}</div>
            </td>
            <td>
                14. Cal. Due Date(or Box 15 for Yoke):
                <div>{{testspec.[5].data}}</div>
            </td>
            <td>
                15. Lift Test Data and (Ibs):
                <div>{{testspec.[6].data}}  Ibs:  ({{testspec.[7].data}})</div>
            </td>
        </tr>
    </table>
    <table class="none-bordertop">
        <tr>
            <td>
                16. Black Light Mfr. &Model:
                <div>{{lightmeter.[0].data}}</div>
            </td>
            <td>
                17. Black Light S/N:
                <div>{{lightmeter.[1].data}}</div>
            </td>
            <td>
                18. Black Light Intensity:
                <div>{{lightmeter.[2].data}}</div>
            </td>
            <td>
                19. White Light Type/Intensity:
                <div>{{lightmeter.[3].data}}</div>
            </td>
        </tr>
    </table>
    <table class="none-bordertop">
        <tr>
            <td>
                20. Light Meter Mfr. &Model:
                <div>{{lightmeter.[4].data}}</div>
            </td>
            <td>
                21. Light Meter S/N & Cal. Due Date:
                <div class="between-element">
                    <span>{{lightmeter.[5].data}}</span>
                    <span>{{lightmeter.[6].data}}</span>
                </div>
            </td>
            <td>
                22. UV Light Meter(Mfr. &Model):
                <div>{{lightmeter.[7].data}}</div>
            </td>
            <td>
                23. UV Light Meter S/N & Cal. Due Date:
                <div class="between-element">
                    <span>{{lightmeter.[8].data}}</span>
                    <span>{{lightmeter.[9].data}}</span>
                </div>
            </td>
                
        </tr>
    </table>
    <table class="none-bordertop">
        <tr>
            <td>
                24. Medium:
                <div class="between-element">
                    {{#each lightmeter.[10].data}}
                        {{{this}}}
                    {{/each}}
                    <span>(Concentration)[{{lightmeter.[11].data}}]</span>
                </div>
            </td>
        </tr>
    </table>
    <table class="none-bordertop">
        <tr>
            <td>
                25. Particles, Color:
                <div>{{particle.[0].data}}</div>
            </td>
            <td>
                25a. Type:
                <div>{{particle.[1].data}}</div>
            </td>
            <td>
                25b. Batch No:
                <div>{{particle.[2].data}}</div>
            </td>
            <td>
                26. Vehicle, Mfr:
                <div>{{vehicle.[0].data}}</div>
            </td>
            <td>
                26a. Type:
                <div>{{vehicle.[1].data}}</div>
            </td>
            <td>
                26b. Batch No:
                <div>{{vehicle.[2].data}}</div>
            </td>
        </tr>
    </table>
    <table class="none-bordertop">
        <tr>
            <td>
                27. Technique Data: <span style="font-size: 12px">{{#each technique.[0].data}}{{{this}}}{{/each}}</span>
                <div class="between-element">
                    <span>{{{technique.[1].data.[0]}}}, Spacing:[{{is_NON technique.[2].data}}]</span>
                    <span>{{{technique.[1].data.[1]}}}, [{{is_NON technique.[3].data}}]amps</span>
                    <span>{{{technique.[1].data.[2]}}}, [{{is_NON technique.[4].data}}]amps</span>
                    <span>{{{technique.[1].data.[3]}}}, [{{is_NON technique.[5].data}}]amps</span>
                    <span>{{{technique.[1].data.[4]}}}, [{{is_NON technique.[6].data}}]amps</span>
                </div>
            </td>
        </tr>
    </table>
    <table class="none-bordertop">
        <tr>
            <td>
                28. De-Magnetization:
                <div>{{technique.[7].data}}</div>
            </td>
            <td>
                29. Notched Shims Used?:
                <div>
                    <input type="checkbox" />YES
                    <input type="checkbox" />NO
                </div>
            </td>
            <td>
                30. Temperature:
                <div>N/A</div>
            </td>
            <td>
                31. Temperature Gauge (SN/Cal. Due):
                <div>N/A</div>
            </td>
        </tr>
    </table>
    <table class="none-bordertop">
        <tr>            
            <td>
                32. Item/Component:
                <div>N/A</div>
            </td>
            <td>
                33. Material/Part Number:
                <div>{{technique.[8].data}}</div>
            </td>
            <td>
                34. Drawing Number:
                <div>{{technique.[9].data}}</div>
            </td>
            <td>
                35. Thickness/Surface Condition:
                <div>{{technique.[10].data}}</div>
            </td>
        </tr>
    </table>
    <table class="none-bordertop">
        <tr>
            <td>
                <div>36. Test Results:</div>
            </td>
            <td>
                <div>37. Total Inspected: {{testres.[0].data}}</div>
            </td>
            <td>
                <div>38. Total Accepted: {{testres.[1].data}}</div>
            </td>
            <td>
                <div>39. Total Rejected: {{testres.[2].data}}</div>
            </td>
        </tr>
    </table>
</div>
{{/eachHeader}}

{{setData formdata formdataconfig}}
{{#each newformdata}}
    {{#if @index}}
        <div style='page-break-before: always;'></div>
    {{/if}}  
    <table class="none-bordertop">
        <tr>
            <th width="10%">Items</th>
            <th width="10%">Quantity</th>
            <th width="65%">Comments</th>
            <th width="15%">Accept/Reject</th>
        </tr>
    
    {{#each this}}
        <tr>
            <td>{{this.[0]}}</td>
            <td>{{this.[1]}}</td>
            <td>{{this.[2]}}</td>
            <td>{{this.[3]}}</td>
        </tr>
    {{/each}}
    </table>
{{/each}}
