* {
    box-sizing: border-box;
}

html, body {
    margin: 0px;
    padding: 0px;
    font-size: 10px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.header {
    width: 100%;
    padding-top: 10px;
}

/* .header-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.header-logo {
    width: 200px;
} */

.header-logo>div {
    font-style: italic;
    font-weight: bold;
    color:black;
    margin: auto 0px;
}

.footer {
    width: 100%; 
    padding-bottom: 10px;   
}

.end-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 3px;
    font-size: 12px;
}

svg {
    position: fixed;
    width: 150px;
    height: 30px;
    margin-top: -3%;
    margin-left: 8%;
}

.content {
    padding: 20px;
    border: 1px solid rgba(0,0,0,0.3);
}

table{
    width: 100%;
    border-collapse: collapse;
}

table td, th { 
    border: 1px solid gray;    
    vertical-align: middle;
    font-size: 12px;
    padding: 2px 2px;
}

table.none-bordertop td, th{
    border-top: none;
}

.between-element {
    display: flex; 
    justify-content: space-between;
}

header .header-table td {
    font-size: 9px;
}

header .header-table td div {
    font-size: 13px;
    font-weight: 548;
}

footer .footer-table td {
    font-size: 9px;
}

footer .footer-table td div {
    font-size: 13px;
    font-weight: 548;
}

div.form-header table td {
    font-size: 9px;
}

div.form-header table td div{
    font-size: 13px;
    font-weight: 548;
}