<html>
    <head>
        <style>
            {#asset ./assets/css/style.css @encoding=utf8}
        </style>
    </head>
    <body>
        {{#each $pdf.pages}} 
        {{#if @index}}
            <div style="page-break-before: always;"></div>
        {{/if}}

        {{#renderHeader @root}}
        <main class="main">
            {{#with general}}
            <header class="header">
                <div class="header-logo">
                    <img src='{#asset ./assets/images/logo.png @encoding=dataURI}'/>
                    <div>Magnetic Particle Examination Report</div>
                </div><br>
                <table class="info">
                    <tbody>
                        <tr>
                            <td>1721 Williams Road | Monroe, NC 28110 | P: (704) 291-2360; F: (704) 291-9536</td>
                            <td>www.mistrasgroup.com</td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <table class="header-table">
                    <tr>
                        <td rowspan="2">
                            1. Customer:
                            <div>Duke</div>
                        </td>
                        <td>
                            2. {{title2}}:
                            <div>{{data2}}</div>
                        </td>
                        <td>
                            4. {{title3}}:
                            <div>{{data3}}</div>
                        </td>
                        <td>
                            6. {{title4}}:
                            <div>{{data4}}</div>
                        </td>
                        <td>
                            7. Page:
                            <div>{{getPageInfo ../../../$pdf.pages @index}}</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            3. {{title5}}:
                            <div>{{data5}}</div>
                        </td>
                        <td>
                            5. {{title6}}:
                            <div>{{data6}}</div>
                        </td>
                        <td colspan="2">
                            8. {{title7}}:
                            <div>{{data7}}</div>
                        </td>
                    </tr>
                </table>
            </header>
            {{/with}} 
            {{#with personal}}
            <footer class="footer">
                <div>{{../../../footer-comment}}</div>
                <table class="footer-table">
                    <tr>
                        <td>
                            25. Technician, Level & Date:
                            <div>{{technician}}</div>
                        </td>
                        <td>
                            26. Customer Signature(if applicable):
                            <div>{{customername}}</div>
                            {{{customersign}}}
                        </td>
                        <td>
                            27. Reviewed By(if applicable):
                            <div>{{reviewername}}</div>
                            {{{reviewersign}}}
                        </td>
                    </tr>
                </table>
                <div class="end-footer">
                    <div>Certification of inspection, Magnetic Particle Testing(Basic Report Form)</div>
                    <div>100-MTFORM-001{{getPageNumber @index}} | Rev 7</div>
                </div>
            </footer>
            {{/with}}           
        </main>
        {{/renderHeader}}

        {{/each}}
    </body>
</html>